<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome.</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
	<h1 id="pageHeader">Welcome.</h1>
	What can I do for you today?
	<br />
	<br />
	<ul>
		<li>Show <a href="user/list.html">all users</a>.
		</li>
		<li>Link to feature one.</li>
		<li>Link to feature two.</li>
		<li>Link to feature three.</li>
	</ul>
</body>
</html>